<div class="w-screen h-screen">
  <section class="w-screen h-screen bg-gradient-custom flex flex-col items-center justify-center gap-16">
    <div class="flex flex-col items-center justify-center gap-4 p-4">
      <h1 class="text-[3.5rem] font-bold flex flex-col items-center justify-center leading-none gap-2 text-center">Share Files Securely with <span class="text-purple-600">Cloud Share</span></h1>
      <span class="text-[1.2rem] text-gray-500 text-center">Upload, manage and share your files securely. Accessible anywhere anytime.</span>
    </div>

    <div class="w-full flex items-center justify-center gap-4 flex-wrap p-4">
      <button class="min-w-[150px] w-auto bg-purple-600 text-[1.2rem] text-white font-semibold py-2 px-4 rounded-md shadow-sm cursor-pointer transform transition-all duration-300 ease-in-out hover:bg-purple-700 hover:scale-105" routerLink="/register">Get Started</button>
      <button class="min-w-[150px] w-auto bg-white text-[1.2rem] text-gray-950 font-semibold py-2 px-4 rounded-md shadow-sm cursor-pointer transform transition-all duration-300 ease-in-out hover:bg-gray-100 hover:scale-105" routerLink="/login">Sign In</button>
    </div>
  </section>
</div>