<div class="h-full w-full flex flex-col gap-8">
  <h1 class="text-[1.5rem] font-medium text-neutral-800">Credits</h1>

  <section class="flex flex-col gap-1 bg-purple-100 text-purple-600 p-4 shadow-sm rounded-lg">
    <span class="font-medium text-[1rem]">{{ 'Current Credit: ' + user().credit }} </span>
    <span class="text[.9rem]">You can upload <span>{{ user().credit }}</span> more files, with your current credit.</span>
  </section>

  <div class="flex flex-col gap-4 text-neutral-800">
    <span class="text-[1.2rem] mb-4">Plans</span>
    <section class="flex flex-col gap-1 bg-white p-4 shadow-sm rounded-lg">
      <span class="text-[1rem] font-medium">Basic</span>
      <span class="text-[2rem] font-semibold">₹100 <span class="text-[1rem] font-normal">for 100 credits.</span></span>
      <button class="min-w-[150px] w-auto border-[.1em] border-purple-600 bg-white text-[1rem] text-purple-600 font-medium py-1 px-2 rounded-md cursor-pointer transition-all hover:bg-purple-100" (click)="purchase('BASIC')">Purchase Plan</button>
    </section>

    <section class="flex flex-col gap-1 bg-white p-4 shadow-sm rounded-lg">
      <span class="text-[1rem] font-medium">Premium</span>
      <span class="text-[2rem] font-semibold">₹500 <span class="text-[1rem] font-normal">for 500 credits.</span></span>
      <button class="min-w-[150px] w-auto border-[.1em] border-purple-600 bg-white text-[1rem] text-purple-600 font-medium py-1 px-2 rounded-md cursor-pointer transition-all hover:bg-purple-100">Purchase Plan</button>
    </section>

    <section class="flex flex-col gap-1 bg-white p-4 shadow-sm rounded-lg">
      <span class="bg-purple-100 text-purple-600 font-medium text-[.8rem] px-4 rounded-[2rem] w-fit mb-2">Recomended</span>
      <span class="text-[1rem] font-medium">Ultimate</span>
      <span class="text-[2rem] font-semibold">₹2500 <span class="text-[1rem] font-normal">for 5000 credits.</span></span>
      <button class="min-w-[150px] w-auto border-[.1em] border-purple-600 bg-purple-600 text-[1rem] text-white font-medium py-1 px-2 rounded-md cursor-pointer transition-all hover:bg-purple-700 hover:border-purple-700">Purchase Plan</button>
    </section>
  </div>
</div>