<div class="w-screen h-screen flex flex-col bg-neutral-50">
  <div class="items-center justify-between gap-1 bg-white shadow-sm p-4 navbar">
    <span class="text-[1.4rem] text-center font-semibold text-purple-600">Cloud Share</span>
  </div>

  <section class="w-full grow flex items-center flex-col justify-center p-4 gap-4">
    @if (file()) {
      <app-details [file]="file()!" [loading]="loading()" (onDownload)="download()"/>
    } @else {
      <div class="flex items-center justify-center w-[min(100%,800px)] bg-white rounded-md shadow-sm p-8">
        <span class="text-[1rem] font-medium block text-center text-neutral-800 break-all">This file might be private or not present.</span>
      </div>
    }
  </section>
</div>