<div class="flex flex-col gap-8">
  <div class="bg-white w-[min(100%,800px)] flex flex-col justify-center items-center p-4 shadow-sm rounded-lg gap-4">
  <div class="w-[5rem] h-[5rem] bg-purple-100 rounded-full flex items-center justify-center">
    <fa-icon class="text-[2rem] text-purple-600" [icon]="'file'"/>
  </div>

  <div class="flex flex-col gap-2 items-center justify-center">
    <span class="text-[1.5rem] font-semibold block text-center text-neutral-800 break-all">{{ file().name }}</span>
    <span class="text-[1rem] text-center block text-neutral-400 break-all">{{ parseSize(file().size) + ' . Uploaded on ' + parseDate(file().uploadedAt) }}</span>
    <span class="block text-center bg-neutral-200 text-[.9rem] px-2 rounded-[2rem]">{{ file().type.toUpperCase() }}</span>
  </div>

  <button class="relative bg-purple-600 text-white font-medium text-[1rem] px-2 py-1 rounded-md mt-4  cursor-pointer hover:bg-purple-700" [class]="{'loading': loading()}" (click)="onClick()">Download File</button>
</div>


@if (file().isPublic) {
  <div class="flex items-center justify-center w-[min(100%,800px)] bg-blue-100 rounded-md shadow-sm p-2">
    <span class="text-[1rem] block text-center text-blue-600 break-all">This file is public anyone with the link can download the file.</span>
  </div>
}
</div>