<div class="flex flex-col gap-8">
  <h1 class="text-[1.5rem] font-medium text-neutral-800">My Files</h1>

  <section class="flex flex-col gap-2 bg-white p-4 shadow-sm rounded-lg">
    <span class="text-[1rem] font-medium">Recent Files</span>
  
    <div class="p-2">
      @if ((files$ | async)!.length == 0) {
        <div class="flex p-2 items-center flex-col justify-center gap-4">
          <div class="w-[4rem] h-[4rem] flex items-center justify-center bg-purple-100 rounded-full">
            <fa-icon class="text-purple-600 text-[1.5rem]" [icon]="'file'"/>
          </div>

          <div>
            <span class="block font-medium text-[1.2rem] text-center">No file uploaded yet.</span>
            <span class="block text-center text-[1rem] text-neutral-400">Upload your files to get started with cloud share.</span>
          </div>
        </div>
      } @else {
        <app-tabular-view class="table-view" [files]="files$"/>
      
        <ul class="card-view" >
          @for (file of files$ | async; track file.uuid) {
            <li class="w-full py-4 not-last:border-b-[.1em] border-neutral-300">
              <app-card-view [file]="file"/>
            </li>
          }
        </ul>
      }
    </div>
  </section>
</div>
